/* Set body styling */
body {
    margin: 0;
    padding: 0;
}

/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topbar {
    color: black;
    background-color: olivedrab;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.topbar a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
}

.topbar a:hover {
    color: coral;
}

.logo {
    flex: 1;
    margin-left: 20px;
}

/* Positions at the baseline */
.baseline {
    display: flex;
    flex: 1;
    align-items: baseline;
}

/* Centers it's content */
.wrapper {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Set the wrapper's height to cover the viewport height */
    height: 100vh;
}

/* Styles for the menu icon */
.burger-menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
}

.burger-menu-bar {
    background-color: black;
    height: 3px;
}

/* Styles for the navigation side menu */
.side-navbar {
    background-color: beige;
    width: 200px;
    height: 100%;
    top: 50px;
    left: 0;
    position: absolute;

    display: none;
}

.side-navbar.active {
    display: block;
}

/* .side-navbar ul {
    list-style: none;
    padding: 0;
} */

/* .side-navbar li {
    margin: 10px 0;
} */

/* .side-navbar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
} */

.table-of-contents {
    margin: 15px;
}

.table-of-contents ul {
    list-style: none;
    padding: 0;
}

.table-of-contents button {
    padding: 0;
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    text-align: -webkit-match-parent;
    cursor: pointer;
}

/* .table-of-contents button:hover {
    background-color: rgba(0, 0, 124, 0.1);
} */

.table-of-contents .table {
    /* list-style: none; */

    /* position: relative; */
    /* display: inline-block; */
}

/* .table-of-contents li {
    padding-top: 0;
    margin-top: 0;
} */

.table-of-contents .indent1 {
    padding-left: 7px;
}

.table-of-contents .indent2 {
    padding-left: 14px;
}

.table-of-contents .indent3 {
    padding-left: 21px;
}

.table-of-contents .indent4 {
    padding-left: 28px;
}

.table-of-contents .icon-arrow {
    height: 20px;
    width: auto;
    padding-right: 5px;
    /* Ensure the icon doesn't exceed it's container */
    max-width: 100%;
    max-height: 100%;
}

.table-of-contents .item {
    /* background-color: aliceblue; */
    /* border-bottom: 1px solid #ddd; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    /* margin-top: 0; */
}

.table-of-contents .item-button {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table-of-contents .dropdown {
    /* position: relative; */
    /* background-color: aliceblue; */
    /* border-bottom: 1px solid #ddd; */
    /* margin-top: 0; */
}

.table-of-contents .dropdown-button {
    /* color: grey; */
    /* background-color: aqua; */
    /* border-bottom: 1px solid #ddd; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    display: flex;
}

.table-of-contents .dropdown-button.active {
    background-color: rgba(0, 0, 0, 0.06);
}

.table-of-contents .nested-dropdown {
    background-color: rgba(0, 0, 0, 0.03);
    display: none;
    top: 100%;
    left: 0;
}

.table-of-contents .nested-dropdown.active {
    display: block;
}

/* Style for content container */
.content-container {
    background-color: #f2f2f2;
    max-width: 800px;
    /* Set the initial width of the content container */
    /* width: 80%; */
    padding: 25px;
    /*border: 1px solid #ccc;*/
    height: 100vh;

    margin-left: 0px;
}

.content-container.side-navbar-active {
    margin-left: 200px;
}

.content-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container section img {
    margin-bottom: 20px;
}

.content-container section p {
    margin-bottom: 20px;
}