/* Set body styling */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 340px;
    overflow-x: auto;
}

/* Reset default styling for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* The below is needed in order to prevent the weird
    behaviour of pre elements in combination with flex display parents.
    The pre elements will not shrink in width properly if min-width is not
    set to 0 on every child of the flex display parent until the pre element.
    Here is an article explaining the problem:
    https://weblog.west-wind.com/posts/2016/feb/15/flexbox-containers-pre-tags-and-managing-overflow*/
    min-width: 0;
}

::-webkit-scrollbar-corner {
    display: none;
}

/* Centers it's content */
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 0;
}

.foreground-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

/* TOPBAR: */
.below-topbar {
    /* Compensate topbar's height: */
    padding-top: 50px;
}

.topbar {
    top: 0;
    color: black;
    background-color: olivedrab;
    height: 50px;
    display: flex;
    align-items: center;
    pointer-events: auto;
}

@media screen and (max-width: 768px) {
    .topbar {
        padding: 0px 15px;
    }
}

@media screen and (min-width: 768px) {
    .topbar {
        padding: 0px 20px;
    }
}

.logo {
    display: flex;
    flex: 1;
}

@media screen and (max-width: 768px) {
    .logo {
        margin-left: 15px;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        margin-left: 20px;
    }
}

.navbar {
    display: flex;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: coral;
}

@media screen and (max-width: 485px) {
    .navbar a {
        font-size: 13px;
        margin: 0 10px;
    }

    .navbar a.current {
        display: none;
    }
}

@media screen and (min-width: 485px) {
    .navbar a {
        font-size: 16px;
        margin: 0 15px;
    }

    .navbar a.current {
        display: block;
    }
}

/* Positions at the baseline */
.baseline {
    display: flex;
    flex: 1;
    align-items: baseline;
}

/* Styles for the burger menu icon */
.burger-menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

/* Shape for the burger menu icon */
.burger-menu-bar {
    background-color: black;
    height: 3px;
}

/* SIDE NAVBAR: */
.side-navbar {
    background-color: beige;
    flex: 1;
    left: 0;
    position: relative;
    overflow: hidden;
    pointer-events: auto;

    display: none;
}

@media screen and (max-width: 768px) {
    .side-navbar {
        width: 130px;
    }
}

@media screen and (min-width: 768px) {
    .side-navbar {
        width: 200px;
    }
}

.side-navbar.active {
    display: block;
}

/* Table of contents: */
.table-of-contents {
    position: absolute;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    /* Add some space to the right (hidden by the parent) - to hide the scrollbar: */
    right: -100px;
    padding-right: 100px;
}

@media screen and (max-width: 768px) {
    .table-of-contents {
        margin: 0px 3px 0px 3px;
        padding-top: 3px;
    }
}

@media screen and (min-width: 768px) {
    .table-of-contents {
        margin: 0px 7px 0px 7px;
        padding-top: 7px;
    }
}

.table-of-contents ul {
    list-style: none;
    padding: 0;
}

.table-of-contents button {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    text-align: start;
    cursor: pointer;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .table-of-contents button {
        font-size: 13px;
    }
}

@media screen and (min-width: 768px) {
    .table-of-contents button {
        font-size: 16px;
    }
}

.table-of-contents .indent1 {
    padding-left: 7px;
}

.table-of-contents .indent2 {
    padding-left: 14px;
}

.table-of-contents .indent3 {
    padding-left: 21px;
}

.table-of-contents .indent4 {
    padding-left: 28px;
}

.table-of-contents .icon-arrow {
    width: auto;
    /* Ensure the icon doesn't exceed it's container */
    max-width: 100%;
    max-height: 100%;
    padding-right: 5px;
}

@media screen and (max-width: 768px) {
    .table-of-contents .icon-arrow {
        height: 12px;
    }
}

@media screen and (min-width: 768px) {
    .table-of-contents .icon-arrow {
        height: 20px;
    }
}

.table-of-contents .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.table-of-contents .item-button {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .table-of-contents .item-button {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

@media screen and (min-width: 768px) {
    .table-of-contents .item-button {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* Dummy styling */
.table-of-contents .dropdown {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.table-of-contents .dropdown-button {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
}

@media screen and (max-width: 768px) {
    .table-of-contents .dropdown-button {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

@media screen and (min-width: 768px) {
    .table-of-contents .dropdown-button {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.table-of-contents .dropdown-button p {
    flex: 1;
}

.table-of-contents .dropdown-button.active {
    background-color: rgba(0, 0, 0, 0.06);
}

.table-of-contents .nested-dropdown {
    background-color: rgba(0, 0, 0, 0.03);
    display: none;
    top: 100%;
    left: 0;
}

.table-of-contents .nested-dropdown.active {
    display: block;
}

/* MAIN PAGE: */
/* Content container: */
.content-container {
    background-color: #f2f2f2;
    max-width: 800px;
    width: 100%;
    flex: 1 0;
    margin-left: 0px;
}

@media screen and (max-width: 485px) {
    .content-container {
        padding: 10px;
    }
}

@media screen and (min-width: 485px) {
    .content-container {
        padding: 25px;
    }
}

.content-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container section>* {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {

    /* Applied when side navbar is active */
    .content-container.side-navbar-active {
        margin-left: 130px;
    }
}

@media screen and (min-width: 768px) {

    /* Applied when side navbar is active */
    .content-container.side-navbar-active {
        margin-left: 200px;
    }
}

.note {
    background-color: #faf73260;
    border: 1px solid #fffb00;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    text-align: center;
}

.code {
    background-color: #1e1e1e;
    border: 1px solid #525252;
    color: white;
    width: 100%;
}

.code pre {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    max-height: 375px;
    overflow: scroll;
}

/* Custom and always visible (when overflown) scrollbar for the code box: */
.code pre::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

.code pre::-webkit-scrollbar:horizontal {
    -webkit-appearance: none;
    height: 8px;
}

.code pre::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d7d8d795;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Colors for the code styling resembling default Visual Studio: */
.code .blue {
    color: #549ad4;
}

.code .lightBlue {
    color: #9bdbff;
}

.code .green {
    color: #4fcab0;
}

.code .lightGreen {
    color: #b8d7a2;
}

.code .pink {
    color: #d59e84;
}

.code .purple {
    color: #c593cb;
}

.code .grey {
    color: #909090;
}