@font-face {
    font-family: domine;
    src: url(assets/fonts/domine/Domine-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: domine;
    src: url(assets/fonts/domine/Domine-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: martian-mono;
    src: url(assets/fonts/martian-mono/MartianMono-Regular.ttf) format('truetype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* The below is needed in order to prevent the weird
    behaviour of pre elements in combination with flex display parents.
    The pre elements will not shrink in width properly if min-width is not
    set to 0 on every child of the flex display parent until the pre element.
    Here is an article explaining the problem:
    https://weblog.west-wind.com/posts/2016/feb/15/flexbox-containers-pre-tags-and-managing-overflow*/
    min-width: 0;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 15px;
    }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 540px) {
    html {
        font-size: 13px;
    }
}

body {
    font-family: domine;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 340px;
    overflow-x: auto;
}

button {
    /* Some safari mobile browsers could display different color by default */
    color: #000;
}

pre,
code {
    font-family: martian-mono, monospace;
    font-size: 0.8rem;
}

::-webkit-scrollbar-corner {
    display: none;
}

/* Centers it's content */
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 0;
}

.foreground-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

/* TOPBAR: */
@media screen and (min-width: 541px) {
    .below-topbar {
        /* Compensate topbar's height: */
        padding-top: 50px;
    }
}

@media screen and (max-width: 540px) {
    .below-topbar {
        /* Compensate topbar's height: */
        padding-top: 45px;
    }
}

.topbar-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.topbar-scroll-container {
    width: 100%;
    overflow: scroll;
    /* Add some space to the bottom (hidden by the parent) - to hide the scrollbar: */
    padding-bottom: 100px;
    position: absolute;
}

.topbar {
    color: black;
    background-color: olivedrab;
    display: flex;
    align-items: center;
    pointer-events: auto;
    min-width: 345px;
}

@media screen and (min-width: 768px) {
    .topbar {
        height: 50px;
        padding: 0px 20px 0px 20px;
    }

    .topbar-container {
        height: 50px;
    }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
    .topbar {
        height: 50px;
        padding: 0px 5px 0px 15px;
    }

    .topbar-container {
        height: 50px;
    }
}

@media screen and (max-width: 540px) {
    .topbar {
        height: 45px;
        padding: 0px 5px 0px 12px;
    }

    .topbar-container {
        height: 45px;
    }
}

.logo {
    display: flex;
    flex: 1;
    font-weight: bold;
    padding-top: 1px;
}

@media screen and (min-width: 768px) {
    .logo {
        margin-left: 20px;
        font-size: 32px;
    }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
    .logo {
        margin-left: 15px;
        font-size: 32px;
    }
}

@media screen and (max-width: 540px) {
    .logo {
        margin-left: 12px;
        font-size: 25px;
    }
}

.navbar {
    display: flex;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover {
    color: coral;
}

@media screen and (min-width: 541px) {
    .navbar a {
        margin: 0 15px;
    }

    .navbar a.current {
        display: block;
    }
}

@media screen and (min-width: 381px) and (max-width: 540px) {
    .navbar a {
        margin: 0 10px;
    }

    .navbar a.current {
        display: block;
    }
}

@media screen and (max-width: 380px) {
    .navbar a {
        margin: 0 10px;
    }

    .navbar a.current {
        display: none;
    }
}

/* Positions at the baseline */
.baseline {
    display: flex;
    flex: 1;
    align-items: baseline;
}

/* Styles for the burger menu icon */
.burger-menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 541px) {
    .burger-menu-icon {
        width: 30px;
        height: 20px;
    }
}

@media screen and (max-width: 540px) {
    .burger-menu-icon {
        width: 25px;
        height: 17px;
    }
}

/* Shape for the burger menu icon */
.burger-menu-bar {
    background-color: black;
    height: 3px;
}

/* SIDE NAVBAR: */
.side-navbar {
    background-color: beige;
    flex: 1;
    left: 0;
    position: relative;
    overflow: hidden;
    pointer-events: auto;

    display: none;
}

@media screen and (min-width: 768px) {
    .side-navbar {
        width: 200px;
    }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
    .side-navbar {
        width: 160px;
    }
}

@media screen and (max-width: 540px) {
    .side-navbar {
        width: 130px;
    }
}

.side-navbar.active {
    display: block;
}

/* Table of contents: */
.table-of-contents {
    position: absolute;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    /* Add some space to the right (hidden by the parent) - to hide the scrollbar: */
    right: -100px;
    padding-right: 100px;
}

@media screen and (min-width: 768px) {
    .table-of-contents {
        margin: 0px 5px 0px 5px;
        padding-top: 5px;
    }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
    .table-of-contents {
        margin: 0px 4px 0px 4px;
        padding-top: 4px;
    }
}

@media screen and (max-width: 540px) {
    .table-of-contents {
        margin: 0px 3px 0px 3px;
        padding-top: 3px;
    }
}

.table-of-contents ul {
    list-style: none;
    padding: 0;
}

.table-of-contents button {
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    text-align: start;
    cursor: pointer;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .table-of-contents button {
        font-size: 1rem;
    }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
    .table-of-contents button {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 540px) {
    .table-of-contents button {
        font-size: 0.9rem;
    }
}

.table-of-contents button.highlighted {
    background-color: rgba(0, 0, 124, 0.1) !important;
}

.table-of-contents .icon-arrow {
    width: auto;
    /* Ensure the icon doesn't exceed it's container */
    max-width: 100%;
    max-height: 100%;
    padding-right: 5px;
}

@media screen and (min-width: 768px) {
    .table-of-contents .icon-arrow {
        height: 20px;
    }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
    .table-of-contents .icon-arrow {
        height: 17px;
    }
}

@media screen and (max-width: 540px) {
    .table-of-contents .icon-arrow {
        height: 14px;
    }
}

.table-of-contents .item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.table-of-contents .item-button {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .table-of-contents .item-button {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
    .table-of-contents .item-button {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media screen and (max-width: 540px) {
    .table-of-contents .item-button {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

/* Dummy styling */
.table-of-contents .dropdown {
    border-bottom: 0px solid rgba(0, 0, 0, 0);
}

.table-of-contents .dropdown-button {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
}

@media screen and (min-width: 768px) {
    .table-of-contents .dropdown-button {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
    .table-of-contents .dropdown-button {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

@media screen and (max-width: 540px) {
    .table-of-contents .dropdown-button {
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

.table-of-contents .dropdown-button p {
    flex: 1;
}

.table-of-contents .dropdown-button.active {
    background-color: rgba(0, 0, 0, 0.06);
}

.table-of-contents .nested-dropdown {
    background-color: rgba(0, 0, 0, 0.03);
    display: none;
    top: 100%;
    left: 0;
}

.table-of-contents .nested-dropdown.active {
    display: block;
}

/* MAIN PAGE: */
/* Content container: */
.content-container {
    background-color: #f2f2f2;
    max-width: 800px;
    width: 100%;
    flex: 1 0;
    margin-left: 0px;
}

@media screen and (min-width: 768px) {
    .content-container {
        padding: 25px;
    }
}

@media screen and (min-width: 541px) and (max-width: 767px) {
    .content-container {
        padding: 15px;
    }
}

@media screen and (max-width: 540px) {
    .content-container {
        padding: 10px;
    }
}


.content-container section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container section>* {
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {

    /* Applied when side navbar is active */
    .content-container.side-navbar-active {
        margin-left: 200px;
    }
}

@media screen and (min-width: 541px) and (max-width: 767px) {

    /* Applied when side navbar is active */
    .content-container.side-navbar-active {
        margin-left: 160px;
    }
}

@media screen and (max-width: 540px) {

    /* Applied when side navbar is active */
    .content-container.side-navbar-active {
        margin-left: 130px;
    }
}

.note {
    background-color: #faf73260;
    border: 1px solid #fffb00;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    text-align: center;
}

.code {
    background-color: #1e1e1e;
    border: 1px solid #525252;
    color: white;
    width: 100%;
}

.code pre {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    max-height: 375px;
    overflow: scroll;
}

/* Custom and always visible (when overflown) scrollbar for the code box: */
.code pre::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

.code pre::-webkit-scrollbar:horizontal {
    -webkit-appearance: none;
    height: 8px;
}

.code pre::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d7d8d795;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* Colors for the code styling resembling the default Visual Studio's style: */
.code .blue {
    color: #549ad4;
}

.code .lightBlue {
    color: #9bdbff;
}

.code .green {
    color: #4fcab0;
}

.code .lightGreen {
    color: #b8d7a2;
}

.code .pink {
    color: #d59e84;
}

.code .purple {
    color: #c593cb;
}

.code .grey {
    color: #909090;
}